{% load static %}
<!-- End Header -->

<section class="sub_header about-wayanad" id="bg_general">
  <div class="sub_header_content">
    <div class="animated fadeInDown">
      <h1>WAYANAD</h1>
      <p> Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula. </p>
    </div>
  </div>
</section>
<!-- End Section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li>Destinations</li>
    </ul>
  </div>
</div>
<!-- End Position -->

<div class="container margin_60">
  <div class="row">
    <div class="col-lg-9 col-md-8" id="single_tour_desc">
      <div id="Img_carousel" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/1.jpg' %}" 
                        data-small="{% static 'img/wayanad/1.jpg' %}" 
                        data-medium="{% static 'img/wayanad/1.jpg' %}" 
                        data-large="{% static 'img/wayanad/1.jpg' %}" 
                        data-retina="{% static 'img/wayanad/1.jpg' %}"> </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/2.jpg' %}" 
                        data-small="{% static 'img/wayanad/2.jpg' %}" 
                        data-medium="{% static 'img/wayanad/2.jpg' %}" 
                        data-large="{% static 'img/wayanad/2.jpg' %}" 
                        data-retina="{% static 'img/wayanad/2.jpg' %}">
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/3.jpg' %}" 
                        data-small="{% static 'img/wayanad/3.jpg' %}" 
                        data-medium="{% static 'img/wayanad/3.jpg' %}" 
                        data-large="{% static 'img/wayanad/3.jpg' %}" 
                        data-retina="{% static 'img/wayanad/3.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Washed by the silvery waves of the Arabian Sea, the Venice of the East welcomes you to the backwaters of kerala. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/4.jpg' %}" 
                        data-small="{% static 'img/wayanad/4.jpg' %}" 
                        data-medium="{% static 'img/wayanad/4.jpg' %}" 
                        data-large="{% static 'img/wayanad/4.jpg' %}" 
                        data-retina="{% static 'img/wayanad/4.jpg' %}">
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/5.jpg' %}" 
                        data-small="{% static 'img/wayanad/5.jpg' %}" 
                        data-medium="{% static 'img/wayanad/5.jpg' %}" 
                        data-large="{% static 'img/wayanad/5.jpg' %}" 
                        data-retina="{% static 'img/wayanad/5.jpg' %}">
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/6.jpg' %}" 
                        data-small="{% static 'img/wayanad/6.jpg' %}" 
                        data-medium="{% static 'img/wayanad/6.jpg' %}" 
                        data-large="{% static 'img/wayanad/6.jpg' %}" 
                        data-retina="{% static 'img/wayanad/6.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Thekkady is the location of the Periyar National Park. Thekkady is located near to Kerala-Tamil Nadu border. The sanctuary is famous for its dense evergreen, semi-evergreen, moist deciduous forests and savanna grass lands </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/wayanad/7.jpg' %}" 
                        data-small="{% static 'img/wayanad/7.jpg' %}" 
                        data-medium="{% static 'img/wayanad/7.jpg' %}" 
                        data-large="{% static 'img/wayanad/7.jpg' %}" 
                        data-retina="{% static 'img/wayanad/7.jpg' %}">
          </div>
          
        </div>
        <div class="sp-thumbnails"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_1.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_2.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_3.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_4.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_5.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_6.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/wayanad/thumb_7.jpg' %}"> </div>
      </div>
      <div class="row">
        
        <div class="col-md-12">
          <p> Wayanad is located at the Western Ghats of Kerala. It is a green paradise nestled in the mountain region. The entire city is with enchanting and hypnotizing culture and history. Ideal time to visit the place is between September and March. It is a strategic location as it leads the other tourist destinations around the region namely Ooty, Kannur, Coorg, Mysore, Bangalore, etc. The hill station if completely surrounded with plantations, forest and wildlife. </p>
          
          <h4>Edakkal Caves</h4>
          <p> It is one of the most ancient caves with carvings and paintings of Stone Age. The history of the caves can be traced over 5000 years and had been colonized at various stages in history. The term 'Edakkal' means 'a stone in between'. The cave is found with two levels. The lower level or lower chamber can be entered through an opening measuring 5 X 4 feet. A small path opposite the entrance leads upward. A small gap is found in the roof through the upper chamber can be reached by climbing. </p>
          
           <h4>Banasura Dams</h4>
          <p> One of the biggest earth dams in India, located at the north-west part of Wayanad, extended to a wide area with crystal clear waters throughout the area. It is an ideal picnic spot that gives unique feeling of freshness.</p>
           <h4>Pazhassi Raja Tomb</h4>
          <p> It is located in the Mananthavady in Wayanad. Reveals the history of Pazhassi Raja who was the first warrior to oppose British people. The king was considered as the lion of Kerala. A park is also developed in memory of the king.</p>
          
          <p> <strong>Other attractions of the city include Wayanad wildlife sanctuary - with rare species of animals and birds, Kuruva Island - the hottest picnic spot of Wayanad, Soochipara falls, etc.,</strong></p>
          <h4>Ambalappuzha</h4>
          <p> The famous Sri Krishna temple is located at a distance of 14 kms from Alappuzha. Ambalappuzha temple is one of the three important Sri Krishna temples in Kerala believed to have been built during 15th – 17th AD by the local ruler, Chembakasserry Pooradam Thirunal-Devanarayanan Thampuran.</p>
          
          <h4>Marari Beach</h4>
          <p> Marari Beach located 11 kms from Alappuzha town is a perfect destinations for holidays. It is placed behind a row of thick palms that rise like a sudden parapet of green out of the sands. The name Marari derived from ‘Mararikulam’, is one of the local fishing villages.</p>
          
          
         
          
        </div>
        <!-- End col-md-9  --> 
      </div>
      <!-- End row  -->
      
     
      
    </div>
    <!-- End col-lg-9 -->
    
    <div class="col-lg-3 col-md-4">
      
      <div class=" box_style_2"> <i class="icon_set_1_icon-90"></i>
        <h4>Need help? Call us</h4>
        <a href="tel://" class="phone">+91 9846 00 00 99</a> <small>Monday to Friday 9.00am - 7.30pm</small> </div>
    </div>
    <!-- End col-lg-3 --> 
  </div>
  <!-- End row --> 
</div>
<!-- End Container -->
