{% load static %}
<!-- End Header -->

<section class="sub_header about-international" id="bg_general">
  <div class="sub_header_content">
    <div class="animated fadeInDown">
      <h1>INTERNATIONAL PACKAGES</h1>
      <p> Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula. </p>
    </div>
  </div>
</section>
<!-- End Section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li>Destinations</li>
    </ul>
  </div>
</div>
<!-- End Position -->

<div class="container margin_60">
  <div class="row">
    <div class="col-lg-9 col-md-8" id="single_tour_desc">
      <div id="Img_carousel" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/1.jpg' %}" 
                        data-small="{% static 'img/international/1.jpg' %}" 
                        data-medium="{% static 'img/international/1.jpg' %}" 
                        data-large="{% static 'img/international/1.jpg' %}" 
                        data-retina="{% static 'img/international/1.jpg' %}">
						 <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Around 3.00-3.30 pm we will pick you up from your desired destination in one of our 4x4's especially designed for Desert Safaris and then take you dune bashing and sand skiing. We will travel over the Big Red Dunes and you will see breathtaking views of the seemingly endless desert. </p>
						</div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/2.jpg' %}" 
                        data-small="{% static 'img/international/2.jpg' %}" 
                        data-medium="{% static 'img/international/2.jpg' %}" 
                        data-large="{% static 'img/international/2.jpg' %}" 
                        data-retina="{% static 'img/international/2.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Malaysia is known as a destination for nature-based activities and eco-tourism. Be it from challenging rock climbing or cross jungle trekking at different mountain zones, to wild rafting in foaming rivers, or diving in calm seas, to parasailing in the multi-coloured skies. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/3.jpg' %}" 
                        data-small="{% static 'img/international/3.jpg' %}" 
                        data-medium="{% static 'img/international/3.jpg' %}" 
                        data-large="{% static 'img/international/3.jpg' %}" 
                        data-retina="{% static 'img/international/3.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Singapore is best known across the regions for its great business environment, and the overall cleanliness and safety of the city. This vibrant island city-state off the southern tip of Malaysian Peninsular has been famous for its exciting city and resort lifestyle.. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/4.jpg' %}" 
                        data-small="{% static 'img/international/4.jpg' %}" 
                        data-medium="{% static 'img/international/4.jpg' %}" 
                        data-large="{% static 'img/international/4.jpg' %}" 
                        data-retina="{% static 'img/international/4.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Over the last forty years, Thailand has become one of the most popular tourist destinations in the world. The key reason for this is the sheer diversity of the country, from the sophisticated but 'racy' feel of Bangkok to the lively resort of Pattaya and the stunning beauty of Phuket, Koh Samui and Krabi. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/5.jpg' %}" 
                        data-small="{% static 'img/international/5.jpg' %}" 
                        data-medium="{% static 'img/international/5.jpg' %}" 
                        data-large="{% static 'img/international/5.jpg' %}" 
                        data-retina="{% static 'img/international/5.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> China, which means the Middle Kingdom in Chinese, is a huge country with thousands of years of history. It's situated in Eastern Asia, bounded by the Pacific to the east, the third largest country in the world and one-fifteenth of the world's land mass. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/6.jpg' %}" 
                        data-small="{% static 'img/international/6.jpg' %}" 
                        data-medium="{% static 'img/international/6.jpg' %}" 
                        data-large="{% static 'img/international/6.jpg' %}" 
                        data-retina="{% static 'img/international/6.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Home to some of the greatest wonders of the world, Egypt requires thinking of in terms of millenia. There has not been a single monolithic Egyptian system, but it has gone through profound changes over time. Even today, the manner in which modern Egypt has melded with the ancient world is positively astounding. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/international/7.jpg' %}" 
                        data-small="{% static 'img/international/7.jpg' %}" 
                        data-medium="{% static 'img/international/7.jpg' %}" 
                        data-large="{% static 'img/international/7.jpg' %}" 
                        data-retina="{% static 'img/international/7.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Switzerland is a mountainous Central European country, home to numerous lakes, villages and the high peaks of the Alps. </p>
          </div>
          
        </div>
        <div class="sp-thumbnails"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_1.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_2.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_3.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_4.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_5.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_6.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/international/thumb_7.jpg' %}"> </div>
      </div>
      <div class="row">
        
        <div class="col-md-12">
		 <h4>UAE Tour</h4>
          <p> UAE is a collection of 7 Emirates on the Eastern Coast of the Arabian Gulf.By far the most famous is Dubai with its stunning collection of towering skyscrapers, iconic designs and a complete new city emerging from the desert. As well as incredible shopping malls, some of the best hotels in the world, there are now some of the greatest restaurants in the world with renowned chefs such as Gary Rhodes, Gordon Ramsay and Pierre Gagnaire.</p>
          
          <h4>Nepal</h4>
          <p> Possessing 8 out of 10 highest mountains in the world, Nepal has a unique natural landscape and cultural heritage. From the sub tropical jungles to the icy peaks of the Himalayas, diverse flora and fauna, gushing rivers and emerald lakes, Nepal has the trappings of an unforgettable journey of wilderness and adventure. The objective of social responsibility is to contribute to sustainable development. </p>
          
           <h4>Indonesia</h4>
          <p> Indonesia is a group of over 17,000 islands. There are many distinct ethnic, religious and linguistic groups which demonstrate the diversity that has made Indonesia the country it is. With so many islands it is a paradise for divers, surfers and sailors of all sorts. 
The capital, Jakarta has attracted people from all parts of the country as well as immigrants from across the world and hence has its own unique diverse cosmopolitan flavour.</p>
           <h4>Greece</h4>
          <p> Home to the first Olympics Games, Greece was the first area in Europe where advanced early civilisations emerged. Walk through olive groves, through ancient sites, then move on to clusters of sparsely inhabited islands. Roam from beaches to rocky mountains and explore the breathtaking scenery.</strong></p>
          
          
         
          
        </div>
        <!-- End col-md-9  --> 
      </div>
      <!-- End row  -->
      
     
      
    </div>
    <!-- End col-lg-9 -->
    
    <div class="col-lg-3 col-md-4">
      
      <div class=" box_style_2"> <i class="icon_set_1_icon-90"></i>
        <h4>Need help? Call us</h4>
        <a href="tel://" class="phone">+91 9846 00 00 99</a> <small>Monday to Friday 9.00am - 7.30pm</small> </div>
    </div>
    <!-- End col-lg-3 --> 
  </div>
  <!-- End row --> 
</div>
<!-- End Container -->
