{% load static %}
<!-- End Header -->

<section class="sub_header about-pilgrims" id="bg_general">
  <div class="sub_header_content">
    <div class="animated fadeInDown">
      <h1>PILGRIMAGES</h1>
      <p> Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula. </p>
    </div>
  </div>
</section>
<!-- End Section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li>Destinations</li>
    </ul>
  </div>
</div>
<!-- End Position -->

<div class="container margin_60">
  <div class="row">
    <div class="col-lg-9 col-md-8" id="single_tour_desc">
      <div id="Img_carousel" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/1.jpg' %}" 
                        data-small="{% static 'img/pilgrims/1.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/1.jpg' %}" 
                        data-large="{% static 'img/pilgrims/1.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/1.jpg' %}">
						<p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Sabarimala is a Hindu pilgrimage centre located at the Periyar Tiger Reserve in the Western Ghat mountain ranges of Pathanamthitta District, Perunad grama panchayat in Kerala. </p> </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/2.jpg' %}" 
                        data-small="{% static 'img/pilgrims/2.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/2.jpg' %}" 
                        data-large="{% static 'img/pilgrims/2.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/2.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Padmanabhaswamy temple is located in Thiruvananthapuram, Kerala, India. The temple is built in an intricate fusion of the indigenous Kerala style and the Dravidian style (kovil) of architecture associated with the temples located in the neighboring state of Tamil Nadu. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/3.jpg' %}" 
                        data-small="{% static 'img/pilgrims/3.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/3.jpg' %}" 
                        data-large="{% static 'img/pilgrims/3.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/3.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> This unusual festival is celebrated at one of the holiest mosques in Thiruvananthapuram, BeemaPalli. BeemaPalli is a holy place is devoted to BeemaBeevi, a pious muslim lady supposed to have divine powers. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/4.jpg' %}" 
                        data-small="{% static 'img/pilgrims/4.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/4.jpg' %}" 
                        data-large="{% static 'img/pilgrims/4.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/4.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Guruvayoor located 29 kms West of Thrissur is one of the most sanctified and major pilgrim centers in Kerala. Guruvayoor Sree Krishna temple is regarded as the Dwaraka of South India. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/5.jpg' %}" 
                        data-small="{% static 'img/pilgrims/5.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/5.jpg' %}" 
                        data-large="{% static 'img/pilgrims/5.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/5.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Situated in Kodungalloor, many don’t about this little mosque originally constructed in Kerala architecture style. The oldest mosque in India, the mosque was built by the order of Cheramanperumal, erstwhile ruler of Kodungalloor. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/6.jpg' %}" 
                        data-small="{% static 'img/pilgrims/6.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/6.jpg' %}" 
                        data-large="{% static 'img/pilgrims/6.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/6.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Basilica of Our Lady of Dolours (Puthan Pally) is supposed to be the biggest and tallest church in Asia, situated at the heart of the city of Thrissur. </p>
          </div>
          <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/7.jpg' %}" 
                        data-small="{% static 'img/pilgrims/7.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/7.jpg' %}" 
                        data-large="{% static 'img/pilgrims/7.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/7.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Vadakkunnathan Temple is an ancient Hindu temple dedicated to Shiva at city of Thrissur, of Kerala state in India. This temple is a classic example of the architectural style of Kerala and has monumental towers on all four sides and also a kuttambalam. </p>
          </div> <div class="sp-slide"> <img alt="" class="sp-image" src="{% static 'css/images/blank.gif' %}" 
                        data-src="{% static 'img/pilgrims/8.jpg' %}" 
                        data-small="{% static 'img/pilgrims/8.jpg' %}" 
                        data-medium="{% static 'img/pilgrims/8.jpg' %}" 
                        data-large="{% static 'img/pilgrims/8.jpg' %}" 
                        data-retina="{% static 'img/pilgrims/8.jpg' %}">
            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"> Govind Dev Ji Temple, located in the Jaipur City Palace Complex, is one of the most sanctified and famous tourist destinations in India. Govind Dev Ji, the divinity installed in the temple, is none other than Lord Shri Krishna Himself. </p>
          </div>
          
        </div>
        <div class="sp-thumbnails"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_1.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_2.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_3.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_4.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_5.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_6.jpg' %}"> <img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_7.jpg' %}"><img alt="" class="sp-thumbnail" src="{% static 'img/pilgrims/thumb_8.jpg' %}"> </div>
      </div>
      <div class="row">
        
        <div class="col-md-12">
          <h4>Sabarimala</h4>
          <p>Sabarimala is a Hindu pilgrimage centre located at the Periyar Tiger Reserve in the Western Ghat mountain ranges of Pathanamthitta District, Perunad grama panchayat in Kerala. It is one of the largest annual pilgrimages in the world, with an estimated over 100 million devotees visiting every year.Ayyappan's temple is situated amidst 18 hills.</p>
          
          <h4>BeemapalliChandanakudam</h4>
          <p> This unusual festival is celebrated at one of the holiest mosques in Thiruvananthapuram, BeemaPalli. BeemaPalli is a holy place is devoted to BeemaBeevi, a pious muslim lady supposed to have divine powers. The mosque is about 5kms from the city and visited by people of all religions The ten-day Chandanakudam Festival starts on the first of jamadul Akbar (March- April) of the HijriCalander.Thousands of pilgrims bring earthen pots (kudams) filled with coins as offerings. These pots are covered with sandal wood paste (chandanam). Hence the name 'Chandanakudam'.. </p>
          
           <h4>Cheramanjumamasjid</h4>
          <p> Situated in Kodungalloor, many don’t about this little mosque originally constructed in Kerala architecture style. The oldest mosque in India, the mosque was built by the order of Cheramanperumal, erstwhile ruler of Kodungalloor.The King, Cheramanperumal, himself converted to Islam and went to Mecca.It was built in 629 AD by Malik lbn Dinar. The mosque is open to non muslims too. The adjoining museum and showcases the history of the period.</p>
          
          
         
          
        </div>
        <!-- End col-md-9  --> 
      </div>
      <!-- End row  -->
      
     
      
    </div>
    <!-- End col-lg-9 -->
    
    <div class="col-lg-3 col-md-4">
      
      <div class=" box_style_2"> <i class="icon_set_1_icon-90"></i>
        <h4>Need help? Call us</h4>
        <a href="tel://" class="phone">+91 9846 00 00 99</a> <small>Monday to Friday 9.00am - 7.30pm</small> </div>
    </div>
    <!-- End col-lg-3 --> 
  </div>
  <!-- End row --> 
</div>
<!-- End Container -->
