{% load static %}
<!-- End Header -->
<section class="sub_header" id="bg_general">
  <div class="sub_header_content">
    <div class="animated fadeInDown">
      <h1>Services</h1>
      <p> Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula. </p>
    </div>
  </div>
</section>
<!-- End Section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li>Services</li>
    </ul>
  </div>
</div>
<!-- End Position -->

<div class="container margin_60">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Holiday Packages<strong></strong></h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_3.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Flight Ticket Booking</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_2.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Money Transfer</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_1.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Hotels/Resorts Booking</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Sightseeing</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_5.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Group Tour</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Pilgrimage Tour</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Study tour</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Car & Coaches</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Guide Services</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Meet & Assist</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section class="box_cat_wp">
            <div class="box_cat cat-hover"> <a href="{% url 'core:home' %}" class="cat-overlay">
              <h2>Airport Lounge Service</h2>
              <p> Lorem ipsum dolor sit amet, postulant adipiscing dissentiunt nec no, ius ea illud soluta salutandi. Ex vis impetus nostrud, his id magna munere blandit. Ea duo error putent constituam, dicit elitr regione quo id, at euismod recteque mei... </p>
              <span class="box_cat_bt">Read more</span> </a>
              <div class="cat-img"> <img src="{% static 'img/activities_4.jpg' %}" alt=""> </div>
            </div>
          </section>
        </div>
      </div>
      <!-- End row --> 
    </div>
  </div>
  <!-- End row --> 
</div>
<!-- End Container -->
